html, body {
	margin: 0;
	padding: 0;
}

body.text {
	margin: 64px 64px;
	line-height: 1.8;
	font-family: "KaiTi TC";
}

h1 {
	margin: 0;
	text-align: center;
}

p {
	margin: 0;
	
}

.byline {
	text-align: right;
}



